.carousel-container {
  height: 75px;
  width: 100%;
}

.item {
  flex: 0 0 75px;
  display: flex;
  flex-direction: column;
}

.item > p {
  font-size: 10px;
  font-weight: 600;
}

.item > img {
  width: 80%;
}

.carousel {
  display: flex;
  height: 100%;
  gap: 10px;
  overflow: hidden;
}

@media screen and (min-width: 650px) {
  .carousel-container {
    height: 125px;
    width: 100%;
  }

  .item {
    flex: 0 0 100px;
  }
}
