.title-section-container {
  margin-top: 50px;
}

.intro {
  color: #599cff;
  margin-bottom: 0;
}

.name {
  margin-top: 0;
  margin-bottom: 5px;
  color: #eeeeee;
}

.name > span {
  font-size: 25px;
}

.web-developer {
  margin: 0;
  font-size: 26px;
  color: #bebebe;
  animation-name: slideWebDev;
  animation-duration: 1.5s;
}

.web-developer > span {
  font-size: 22px;
}

.web-dev-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.web-img-container {
  width: 30px;
  height: 30px;
  animation-name: rollIn;
  animation-duration: 1.5s;
}

.web-img-container > img {
  height: 100%;
  width: 100%;
}

@keyframes rollIn {
  from {
    transform: translateX(-60px) rotate(0deg);
  }
  70% {
    transform: translateX(24px) rotate(360deg);
  }
  to {
    transform: translateX(0px) rotate(200deg);
  }
}

@keyframes slideWebDev {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0px);
  }
}
