.title-section-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.intro {
  color: #599cff;
  margin-bottom: 0;
  width: 100%;
}

.name {
  margin-top: 0;
  margin-bottom: 5px;
  color: #eeeeee;
  animation-name: slideName;
  animation-duration: 1s;
}

.name > span {
  font-size: 25px;
}

.web-developer {
  margin: 0;
  font-size: 26px;
  color: #bebebe;
  animation-name: slideWebDev;
  animation-duration: 1.5s;
}

.web-developer > span {
  font-size: 22px;
}

.web-dev-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.web-img-container {
  width: 30px;
  height: 30px;
  animation-name: spin, fadeIn;
  animation-duration: 5s, 2s;
  animation-iteration-count: infinite, 1;
  animation-timing-function: linear;
}

.web-img-container > img {
  height: 100%;
  width: 100%;
}

.separator {
  margin-top: 15px;
  height: 2px;
  width: 100%;
  background-color: rgba(185, 185, 185, 0.37);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideWebDev {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slideName {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0px);
  }
}

@media screen and (min-width: 380px) {
  .name {
    font-size: 40px;
  }
  .name > span {
    font-size: 32px;
  }
  .intro {
    font-size: 18px;
  }
  .web-developer {
    font-size: 36px;
  }
  .web-developer > span {
    font-size: 28px;
  }
  .web-img-container {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width: 650px) {
}
