.anchor-links-container {
  color: rgb(250, 250, 250);
  display: flex;
  gap: 8%;
  font-weight: bold;
  font-size: 12px;
  flex-grow: 1;
}

.anchor-links-container > a {
  text-decoration: none;
  color: whitesmoke;
}

@media screen and (min-width: 380px) {
  .anchor-links-container {
    font-size: 14px;
  }
}

@media screen and (min-width: 650px) {
  .anchor-links-container {
    font-size: 18px;
  }
}
