.toggler-container {
  margin-top: -5px;
  height: 25px;
  width: 50px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: rgb(61, 61, 61);
  position: relative;
  flex-shrink: 0;
}

.circle {
  position: absolute;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: white;
  transform: translateX(5px) translateY(4px);
  z-index: 2;
}

.light-img-container {
  height: 30px;
  width: 30px;
  position: absolute;
  transform: translateX(22px) translateY(-2px);
  z-index: 1;
}

.light-img-container > img {
  max-width: 100%;
}

.dark-img-container {
  height: 18px;
  width: 18px;
  position: absolute;
  transform: translateX(5px) translateY(3px);
  z-index: 1;
}

.dark-img-container > img {
  max-width: 100%;
}

.light {
  animation-duration: 0.2s;
  animation-name: slideRight;
  animation-fill-mode: forwards;
}

.dark {
  animation-duration: 0.2s;
  animation-name: slideLeft;
  animation-fill-mode: forwards;
}

@keyframes slideRight {
  from {
    transform: translateX(5px) translateY(4px);
  }
  to {
    transform: translateX(30px) translateY(4px);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(30px) translateY(4px);
  }
  to {
    transform: translateX(5px) translateY(4px);
  }
}
