.about-container {
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.about-header {
  margin-bottom: 0;
  font-family: "Roboto Slab";
}

.about-container > p {
  margin: 8px 0;
}

.technologies-title {
  margin-top: 8px;
  color: #599cff;
}

.the-odin-project {
  color: #599cff;
  padding: 0 5px;
}

@media screen and (min-width: 650px) {
  .about-container {
    font-weight: 500;
    font-size: 1.19rem;
  }
}
